* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#body {
  position: relative;
  background-color: black;
  padding: 10px;
}

#bottom {
  position: relative;
  padding: 20px;
  background-color: white;
}

.content {
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 100px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#well {
  background-color: rgba(0, 0, 0, 0.75)
}

p {
  color: white
}

h1 {
  color: white
}


}
